@import url("react-toastify/dist/ReactToastify.min.css");

:root {
  --toastify-toast-min-height: auto;
  --toastify-toast-width: auto;
  --toastify-text-color-light: #333;
  --toastify-font-family: var(--font-family);
  --toastify-color-warning: var(--amber-700);
  --toastify-color-success: var(--green-500);
  --toastify-color-info: var(--blue-700);
  --toastify-color-error: var(--red-500);
}

.Toastify__toast-container {
  font-size: 0.875rem;
  line-height: 1.4;
}

.Toastify__toast-theme--dark.Toastify__toast--default {
  background-color: #3B3B48;
}
.Toastify__progress-bar-theme--dark {
  background-color: rgba(255,255,255,.4);
}

.Toastify__toast-theme--light.Toastify__toast--error {
  border: 1px solid var(--red-500);
  background-color: var(--red-50);

}
.Toastify__toast-theme--light.Toastify__toast--warning {
  border: 1px solid var(--amber-700);
  background-color: var(--amber-50);
}
.Toastify__toast-theme--light.Toastify__toast--info {
  border: 1px solid var(--blue-700);
  background-color: var(--blue-50);
}
.Toastify__toast-theme--light.Toastify__toast--success {
  border: 1px solid var(--green-500);
  background-color: var(--green-50);
}

.Toastify__close-button {
  align-self: center;
  font-size: 0;
  margin-left: 4px;
  opacity: 0.5;
}

.Toastify__close-button svg {
  width: 18px;
  height: 18px;
}